[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
djangorestframework = "==3.14"
cryptography = "*"
jinja2 = "*"
django-rest-knox = "*"
django-algerography = "*"
algerography = "*"
pillow = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-jazzmin = "*"
django-filter = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.11"
