[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
cryptography = "*"
jinja2 = "*"
django-rest-knox = "*"
django-algerography = "*"
algerography = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
